# PlantUML

snippet plantuml
  \`\`\`plantuml
  ${0}
  \`\`\`

snippet actor
  actor ${0}

snippet control
  control ${0}

snippet database
  database ${0}

snippet queue
  queue ${0}

snippet participant
  participant ${0}

snippet autonumber
  autonumber

snippet activate
  activate ${0}

snippet deactivate
  deactivate ${0}

snippet alt
  alt ${1:Истина}
    ${2}
  else ${3:#Pink} ${4:Ложь}
    ${5}
  end

snippet group
  group ${1}
    ${2}
  end
