[*.sql]
indent_style = space
indent_size = 2

[*.vue]
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2
