[Unit]
Description=Pushgateway
Wants=network-online.target
After=network-online.target

[Service]
User=alex
Type=simple
ExecStart=/home/alex/programs/pushgateway/pushgateway

[Install]
WantedBy=multi-user.target
