[Unit]
Description=Pushgateway
Wants=network-online.target
After=network-online.target

[Service]
User=admin
Type=simple
ExecStart=/home/admin/pushgateway/pushgateway

[Install]
WantedBy=multi-user.target
